{{- /* Show: author list, then "[journal](doi)" or "[date]" */}}
{{- $meta := "" }}

{{- if not (.Param "hideAuthor") }}
    {{- with (partial "author.html" .) }}
        {{- $meta = . }}
    {{- end }}
{{- end }}

{{- $suffix := "" }}
{{- $journal := .Param "journal" }}
{{- $doi := .Param "doi" }}

{{- if $journal }}
    {{- if $doi }}
        {{- $doiURL := cond (or (hasPrefix $doi "http://") (hasPrefix $doi "https://")) $doi (printf "https://doi.org/%s" $doi) -}}
        {{- $suffix = printf "<a class='post-meta-doi' href='%s' target='_blank' rel='noreferrer noopener'>%s</a>" $doiURL $journal }}
    {{- else }}
        {{- $suffix = printf "%s" $journal }}
    {{- end }}
{{- else if not .Date.IsZero }}
    {{- $suffix = printf "%s" (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)) }}
{{- end }}

{{- if $suffix }}
    {{- if $meta }}
        {{- $meta = printf "%s, %s" $meta $suffix }}
    {{- else }}
        {{- $meta = $suffix }}
    {{- end }}
{{- end }}

{{- if $meta }}{{ $meta | safeHTML }}{{- end }}
